.salesBlock {
	margin-top: 80px;
}

.salesTitle h2 {
	text-align: center;
	margin-bottom: 42px;
	font-size: 40px;
}

.productContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

.productCard {
	background-color: #f0f0f0;
	border-radius: 14px;
	width: auto;
}

.productImg {
	width: 100%;
	height: 250px;
	object-fit: cover;
	object-position: center center;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

.productInfo {
	padding: 20px;
	box-sizing: border-box;
}

.productTitle {
	font-size: 20px;
	font-weight: 700;
	line-height: 22.27px;
	word-wrap: break-word;
	display: block;
}

.productDescription {
	font-size: 12px;
	font-weight: 400;
	color: #383838;
	margin-bottom: 6px;
}

.productPriceBlock {
	display: flex;
	margin: 5px 0;
	justify-content: space-between;
	align-items: center;
}

.productPrice {
	font-size: 22px;
	font-weight: 700;
	flex: 1;
}

.productDiscount {
	font-size: 12px;
	font-weight: 700;
	color: #428f13;
}

.productTaxPolicy {
	font-size: 11px;
	font-weight: 300;
}
